#list {
    font-family:'Times New Roman', Times, serif;
    height: 640px;
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 10fr 2fr;
    background-color: blanchedalmond;
}
h1 {
    grid-row: 1;
    grid-column: 1/ span 3;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#inputBox_Button {
    grid-row: 2;
    grid-column: 1/ span 2;
}

#listItems {
    grid-row: 3;
    grid-column: 1/span 3;
    display: flex;
    flex-direction: column;
    list-style: none;
}

#editButton {
    grid-row: 2;
    grid-column: 3;
}

#editButton button {
    height: 25px;
    width:120px;
}

.completedButtons {
    grid-row: 4;
    grid-column: 1/ span 3;
    text-align: center;
    width: 100%;

}

.completedButtons button {
    width:50%;
}

#deleteCompleted {
    background-color: #fa454c;
}

button {
    border-radius: 8px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}
.disabled {
    width:100px;
    opacity: 50%;
}

#addItem {
    width:35px;
    background-color: lightgreen;
}


