#list {
    font-family: "SF Pro", "Verdana", sans-serif;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 100px 1fr 1fr 7fr 2fr;
    /*grid-template-rows: 100px 50px 50px 500px 100px;*/
    background-color: #C9DCE0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 100vh;
}
#backButton {
    grid-row: 1;
    grid-column: 1;
    width:5%;
    height:30%;
    background: none;
    font-size: xx-large;
    transform: translate(0, 75%);

}
button#backButton:hover{
    font-weight: bold;
}
.listName {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1/ span 3;
    justify-content: center;
    padding-left: 45px;
    /*padding-right: 20px ;*/
    width: 85%;
}
.listName button {
    background: none;
}
h1 {
    grid-row: 1;
    grid-column: 1/ span 3;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
}

#inputBox_Button {
    grid-row: 2;
    grid-column: 1/ span 2;
    display:flex;
    height: 50%;
    width:100%;
}

#inputBox_Button input[type="text"]{
    width: 80%;
    margin-left: 5px;
}

#selectPriority {
    width: 90%;
    height: 50%;
    margin-left: 5px;
    grid-row: 2;
    grid-column: 3;
}

#sortItems {
    grid-row: 3;
    grid-column: 1/ span 2;
    width: 105%;
    height: 50%;
}

#listItems {
    grid-row: 4;
    grid-column: 1/span 3;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y:auto;
    max-height: 300px;
}

#editButton {
    grid-row: 3;
    grid-column: 3;
    width: 90%;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}

#editButton button {
    height: 25px;
    width:100%;

}

.completedButtons {
    /*grid-row: 5;*/
    /*grid-column: 1/ span 3;*/
    width: 100%;
    /*display: flex;*/
    /*justify-content: left;*/
    align-items: center;
}

.completedButtons button {
    width: 45%;
    max-width: 300px;
    /*white-space: nowrap;*/

}

#deleteCompleted {
    grid-row: 5;
    grid-column: 3;
    background-color: #fa454c;
    margin-left: 5px;
    overflow: hidden;
    align-content: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 9%;
    width: 25%;

}
#hideCompletedItems{
    padding-top: 10px;
    padding-left: 10px;
    border-style: groove;
    border-radius: 10px;
    width: 70%;
    grid-row: 5;
    grid-column: 1;
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 6.5%;
    width: 200px;
    overflow-x: hidden;
}
@media screen and (max-width:320px){
    #hideCompletedItems {
        width: 85%;
        position: absolute;
        bottom: 55px;
        left: 11px;
    }
    #deleteCompleted{
        width: 90%;
        position: absolute;
        bottom: 5px;
        left: 7px;
    }
}

button {
    border-radius: 8px;
    font-family:-apple-system, BlinkMacSystemFont, ' \
    Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

#addItem {
    width: 20%;
    max-width: 50px;
    background-color: lightgreen;
}
.disabled {
    width:100px;
    background-color: rgba(56,93,56,0.5) !important;
}

.fade-enter {
    opacity:0;
}

.fade-enter-active {
    opacity:1;
    transition: all 1s;
}

.fade-leave {
    opacity:1;
}

.fade-leave-active {
    opacity:0;
    transition: all 1s;

}
#labels {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;

}
#labels h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#sortDropDown{
    width: 90%;
}


.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
}
.toggleLabel {
    margin-left: 5px;
    width: 30%;
    font-size: small;
    position:relative;
    right: 10px;
    top: -7px;
}




