#listItem {
    height: 40px;
    margin-bottom: 20px;
}

#nonEditableItems{
    display: flex;
}
#nonEditableItems .checked {
    text-decoration: line-through;
}
.nonEditableItem {
    border: none;
    background: transparent;
    max-width: 60%;
}
.editableItem {
    max-width: 60%;
}

#priority {
    margin-left: 20%;
    font-size: smaller;
    padding-bottom: 10px;
    transform:translate(0px, -10px);
}

#editableItems {
    display: flex;
}
#nonEditableItems textarea {
    width: 100%;
    resize: none;
    font-family: "SF Pro";
}
#editableItems textarea{
    width: 100%;
    resize: none;
    transition: 180ms box-shadow ease-in-out;
}
#priorityDropDownEditable {
    width: 33%;
}
textarea:focus{
    outline: none;
}

#deleteItem {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
#deleteItem:hover{
    background: #fa454c;
}